.card {
  transform-style: preserve-3d;
  &_img {
    height: 300px;
    width: auto;
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    pointer-events: all;
    filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 3px 3px);
    backface-visibility: hidden;
    &:hover {
      animation: jump 1s ease infinite;
    }
    @keyframes jump {
      50% {
        transform: translateY(-20px);
      }
    }
  }
}
.star {
  width: 40px;
  height: 40px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.favourite_button {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 60px;
  padding: 10px;
  img {
    margin-right: 20px;
  }
}
