nav {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}
.nav_link {
  font-weight: bold;
  font-size: 17px;
  padding-right: 20px;
  text-decoration: none;
  color: #fcd144;
}
