.header_container {
  padding: 20px;
  max-height: 100px;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  background-image: url(../../assets/images/wood.png);
  &_dark {
    background-color: rgb(58, 36, 9);
  }
}
.logo {
  padding: 20px 0 0 20px;
  transform: rotate(-30deg);
}
.sign_buttons {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sign_in,
.sign_up {
  color: white;
  text-decoration: none;
}
