.cards_container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  align-items: center;
}
.dropdown {
  background-color: white;
  position: absolute;
  top: 330px;
  left: 250px;
  right: 0;
  max-height: 150px;
  max-width: 400px;
  overflow-y: scroll;
  &__list {
    list-style: none;
  }
  &__list:hover {
    background-color: beige;
    cursor: pointer;
  }
}
